<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Getting Started with Node on Heroku</h1>
    <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Answers to questions </h3>
      <ul>
        <li>Erika Bailon and Ruth Fernandes </li>

        <li>April 5th, 2018</li>
        <li>CSCI-3308</li>
        <li><ol type = "1"><li>
         Let's say that we want to create an App, with IaaS we don't have to buy servers to controll our environment, instead we can use a VM. With PaaS, 
		we would need to buy the tools necessary to create the environment, tools that already contain APIs and tools to be hooked.</li>
		<li> Someone can get into the system and get or clone all the information stored in the cloud. Also they can access the information and change some of it just to mess up with it. </li>
		<li> Because of security issues. If all apps were in the could, it would be easier to hack into them and obtain sensitive information that could lead to identity theft or health information being released. Some softwares that 
		would not benefit from being in the cloud would be the medical records that are saved in hard drives in the hospitals. Another could be the information in the white house about
		government projects.</li></ol></li>
      </ul>
    </div>
</div>


</body>
</html>
